
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-back-button defaultHref="/" slot="start"></ion-back-button>
      <ion-title size="medium">Messagerie</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of items">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p float-start>{{ item.message }}</p>
        </ion-col>
        <ion-col>
          <ion-img src="{{ item.url }}" ></ion-img>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
