
<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar>
      <ion-back-button defaultHref="/" slot="start"></ion-back-button>
      <ion-title size="medium">Search</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
    <ion-item>
      <ion-label position="floating">Lieu de depart</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Lieu d'arrivee</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="floating">Date d'envoi</ion-label> -->
      <ion-input type="date"></ion-input>
    </ion-item>
    <ion-button expand="full" style="margin-top: 20px; --background: #3880ff;">Envoyer</ion-button>
  </ion-card>
</ion-content>
